/*   Progress Bar    */

.progress-row {
    margin-top: -3rem;
}

.progress {
    position: relative;
}

.progress-bar {
    background-color: #2b2d42;
}

.progress-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
}

.progress-bar.progress-background-transparent {
    background-color: transparent;
    z-index: 2;
}

.progress-bar-border-right {
    border-right: 1px solid black;
}

.progress-link {
    color: black;
    text-decoration: none;
}

.progress-link.progress-active {
    color: white;
}

.progress-link:hover {
    color: #2b2d42;
}

.progress-link.progress-active:hover {
    color: black;
}

/*   Submission Form    */

fieldset legend {
    float: none;
    margin: auto;
}

/*   Loading Overlay      */

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/*   Order Tracker    */

.frame{
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin: 0px; 
	border: 3px solid transparent;
	border-top-color: #00A385;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 900;
	-webkit-animation: spinning 5s linear infinite;
	animation: spinning 5s linear infinite;
	float:left;
  }
.clr{
	display: block;
	position: relative;
	left: 22px;
	top: 20px;
	width: 150px;
	height: 150px;
	margin: 0px; 
	border: 3px solid transparent;
	border-top-color: #3498db;
	z-index: 900;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spinning 5s linear infinite;
	animation: spinning 5s linear infinite;
}
.clr:before {
	content: "";
	position: absolute;
	top: -15px;
	left: -15px;
	right: -15px;
	bottom: -15px;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spinning 5s linear infinite;
	animation: spinning 5s linear infinite;
}
.clr:after {
	content: "";
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-animation: spinning 5s linear infinite;
	animation: spinning 5s linear infinite;
}
@keyframes spinning {
	0%{
	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(0deg);  /* IE 9 */
	transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
	
	50%{
	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(360deg);  /* IE 9 */
	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
	
	100% {
	-webkit-transform: rotate(720deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(720deg);  /* IE 9 */
	transform: rotate(720deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
	
@-webkit-keyframes spinning {
	0%   {
	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(0deg);  /* IE 9 */
	transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
		50%{
	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(360deg);  /* IE 9 */
	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
	-webkit-transform: rotate(720deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(720deg);  /* IE 9 */
	transform: rotate(720deg);  /* Firefox 16+, IE 10+, Opera */
	}
}


@keyframes spinningChange {
	0%{
	-webkit-transform: rotate(720deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(720deg);  /* IE 9 */
	transform: rotate(720deg);  /* Firefox 16+, IE 10+, Opera */
	}
	
	50%{
	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(360deg);  /* IE 9 */
	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
	
	100% {
	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(0deg);  /* IE 9 */
	transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
}
	
@-webkit-keyframes spinningChange {
	0%   {
	-webkit-transform: rotate(720deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(720deg);  /* IE 9 */
	transform: rotate(720deg);  /* Firefox 16+, IE 10+, Opera */
	}
		50%{
	-webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(360deg);  /* IE 9 */
	transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
	}
	100% {
	-webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(0deg);  /* IE 9 */
	transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
	}
}

.inside{
    position: absolute;
}

.tracker-image{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    top: 50px;
    left: 50px;
}

.tracker-div{
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
}
