{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <main class="container content-container">
        <div class="row m-3">
            <div class="col text-center">
                <h1>Add an Offer</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-lg-8 offset-lg-2">
                {% crispy form %}
            </div>
        </div>
    </main>
{% endblock %}

{% block postloadjs %}
    <script type="text/javascript" src="{% static 'offers/js/add_offer.js' %}"></script>
{% endblock %}