{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'offers/css/offers.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay-white"></div>
    <main class="container content-container allauth-container">
        <div class="row m-3">
            <div class="col text-center">
                <h1 class="mt-4">Offers</h1>
            </div>
            {% include 'includes/horizontal-rule.html' %}
        </div>
        <div class="row">
            {% for offer in offers %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row row-cols-1 row-cols-md-3 g-1 g-lg-3 align-items-center mb-3 card-group">
                {% elif forloop.counter0 == 0 %}
                    <div class="row row-cols-1 row-cols-md-3 g-1 g-lg-3 align-items-center card-group">
                {% endif%}
                    
                        <div class="col">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h5 class="card-title">{{ offer.name }}</h5>
                                </div>
                                <div class="card-body">
                                    <img src="{{ offer.image.url }}" class="card-img-top" alt="offers image">
                                    <p class="card-text">{{ offer.description }}</p>
                                    <div class="row offer-row text-center">
                                        <div class="col-4 g-1">
                                            {% if offer.item1.name == 'Pizza' %}
                                                <i class="fas fa-pizza-slice fa-2x"></i>
                                                <p class="card-text m-0">Any {{ offer.item1 }}</p>
                                                <p class="m-0">({{offer.get_item1_size_display}})</p>
                                            {% elif offer.item1.name == 'Side' %}
                                                <i class="fas fa-drumstick-bite fa-2x"></i>
                                                <p class="card-text">Any {{ offer.item1 }}</p>
                                            {% else %}
                                                <i class="fas fa-wine-bottle fa-2x"></i>
                                                <p class="card-text">Any {{ offer.item1 }}</p>
                                            {% endif %}
                                        </div>
                                        {% if offer.item2 is not None %}
                                            <div class="col-4 g-1">
                                                {% if offer.item2.name == 'Pizza' %}
                                                    <i class="fas fa-pizza-slice fa-2x"></i>
                                                    <p class="card-text m-0">Any {{ offer.item2 }}</p>
                                                    <p class="m-0">({{offer.get_item2_size_display}})</p>
                                                {% elif offer.item2.name == 'Side' %}
                                                    <i class="fas fa-drumstick-bite fa-2x"></i>
                                                    <p class="card-text">Any {{ offer.item2 }}</p>
                                                {% else %}
                                                    <i class="fas fa-wine-bottle fa-2x"></i>
                                                    <p class="card-text">Any {{ offer.item2 }}</p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {% if offer.item3 is not None %}
                                            <div class="col-4 g-1">
                                                {% if offer.item3.name == 'Pizza' %}
                                                    <i class="fas fa-pizza-slice fa-2x"></i>
                                                    <p class="card-text m-0">Any {{ offer.item3 }}</p>
                                                    <p class="m-0">({{offer.get_item3_size_display}})</p>
                                                {% elif offer.item3.name == 'Side' %}
                                                    <i class="fas fa-drumstick-bite fa-2x"></i>
                                                    <p class="card-text">Any {{ offer.item3 }}</p>
                                                {% else %}
                                                    <i class="fas fa-wine-bottle fa-2x"></i>
                                                    <p class="card-text">Any {{ offer.item3 }}</p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="text-center mt-3">
                                        <p class="card-text"><strong>£{{ offer.deal_price }}</strong></p>
                                    </div>
                                    
                                </div>
                                <div class="card-footer-area"></div>
                                <div class="card-footer card-footer-position text-center">
                                    <a class="btn btn-primary" href="{% url 'offers_detail' offer.id %}">Select Deal</a>
                                </div>
                            </div>
                        </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                {% elif forloop.counter0 == 2 %}
                    </div>
                {% endif%} 
            {% endfor %}
        </div>
    </main>
{% endblock %}