{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css'%}">
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css'%}">
{% endblock %}

{% block content %}
<div class="overlay-white"></div>
<main class="container-fluid content-container allauth-container">
    <div class="row m-3">
        <div class="col text-center mt-4">
            <h1>Your Order</h1>
        </div>
        {% include 'includes/horizontal-rule-white.html' %}
    </div>
    {% if bag_items %}
        <div class="row progress-row">
            <div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
                <div class="progress" style="height: 50px;">
                    <div class="progress-bar progress-background-transparent" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        {% if request.user.is_authenticated %}
                            <div class="row g-0">  
                                <div class="col-4 progress-bar-border-right">
                                    <a class="progress-link progress-active" href="{% url 'view_bag' %}"><h4>Order</h4></a>
                                </div>
                                <div class="col-4 progress-bar-border-right">
                                    <a class="progress-link" href="{% url 'checkout' %}"><h4>Delivery</h4></a>
                                </div>
                                <div class="col-4">
                                    <a class="progress-link" href="{% url 'checkout' %}"><h4>Payment</h4></a>
                                </div>
                            </div>
                        {% else %}
                            <div class="row g-0">  
                                <div class="col-3 progress-bar-border-right">
                                    <a class="progress-link progress-active" href="{% url 'view_bag' %}"><h4>Order</h4></a>
                                </div>
                                <div class="col-3 progress-bar-border-right">
                                    <a class="progress-link" href="{% url 'account' %}"><h4>Account</h4></a>
                                </div>
                                <div class="col-3 progress-bar-border-right">
                                    <a class="progress-link" href="{% url 'checkout' %}"><h4>Delivery</h4></a>
                                </div>
                                <div class="col-3">
                                    <a class="progress-link" href="{% url 'checkout' %}"><h4>Payment</h4></a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="progress-bar progress-overlay" role="progressbar" style="width: 33.3333333333%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                    {% else %}
                        <div class="progress-bar progress-overlay" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    {% endif %}
                </div>  
            </div>
        </div>
    {% endif %}
    <div class="row">
        {% if bag_items %}
            <div class="col-12 col-lg-10 offset-lg-1">
                <div class="table-responsive">
                    <table class="table d-none d-sm-table">
                        <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col"></th>
                                <th scope="col" class="text-end">Price</th>
                                <th scope="col" class="text-end">Quantity</th>
                                <th scope="col" class="text-end">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                            <img class="img-fluid bag-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }} photo">
                                        {% else %}
                                            <img class="img-fluid bag-image" src="https://res.cloudinary.com/hlot2pfsb/image/upload/v1613333292/no-image_y2craj.jpg" alt="{{ product.name }} photo">
                                        {% endif %}
                                    </td>
                                    <td class="p-3 w-25">
                                        <h4>{{ item.product.name }}</h4>
                                        {% if item.size %}
                                            <p><strong>Size: </strong> {{ item.size }}</p>
                                            <p><strong>Dough: </strong> {{ item.dough| capfirst }}</p>
                                            <p><strong>Sauce: </strong>{{ item.product.sauce| capfirst }}</p>
                                            <p><strong>Toppings: </strong>{% if not item.product.toppings.all %}None{% else %}{% for topping in item.product.toppings.all %}{{ topping.name }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}.</p>
                                        {% endif %}
                                    </td>
                                    <td class="text-end mt-5">
                                        <p><strong>£{{ item.price }}</strong></p>
                                    </td>
                                    <td class="text-end mt-5">
                                        <p><strong>{{ item.quantity }}</strong></p>
                                    </td>
                                    <td class="text-end mt-5">
                                        <p><strong>£{{ item.price | calc_subtotal:item.quantity }}</strong></p>
                                        <a class="btn btn-danger remove-item" id="remove_{{ item.product.id }}" data-product_size="{{ item.size }}" data-dough="{{ item.dough }}">Delete</a>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_{{ item.product.id }}{{ item.size }}">Amend</button>
                                        <div class="modal fade" tabindex="-1" id="modal_{{ item.product.id }}{{ item.size }}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">{{ item.product.name }}</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'amend_bag' item.product.id %}" method="POST" class="update-form">
                                                            {% csrf_token %}
                                                            {% if item.size and item.product.is_original %}
                                                                <input type="hidden" name="dough" id="id_dough" value="{{ item.dough }}">
                                                                <input type="hidden" name="original_size" id="id_original_size" value="{{ item.size }}">
                                                                <div>
                                                                    <p class="text-start"><strong>Size: </strong></p>
                                                                    <div class="w-50">
                                                                        <select class="form-control" name="product_size" id="id_product_size">
                                                                            {% if item.product.is_premium %}
                                                                                {% for price in price_premium %}
                                                                                <option value="{{ price.size }}">{{ price.get_size_display }} - £{{ price.price }}</option>
                                                                                {% endfor %}
                                                                            {% else %}
                                                                                {% for price in price %}
                                                                                <option value="{{ price.size }}">{{ price.get_size_display }} - £{{ price.price }}</option>
                                                                                {% endfor %}
                                                                            {% endif %} 
                                                                        </select>
                                                                    </div> 
                                                                </div>   
                                                            {% endif %}
                                                            <div>
                                                                <p class="text-start"><strong>Quantity: </strong></p>
                                                                <div class="w-50">
                                                                    <input type="number" class="form-control qty-input" value="1" min="1" max="99" name="quantity" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                                </div>        
                                                            </div>
                                                            <button type="submit" class="btn btn-primary update-link">Save changes</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                                <tr>
                                    <td>
                                        {% if profile.loyalty_points > 4 %}
                                            <div class="text-center">
                                                <p><strong>You have loyalty points available</strong></p>
                                                <h5 class="text-danger">{{ profile.loyalty_points }}</h5>
                                                <button class="btn btn-sm btn-primary">Apply Discount</button>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td colspan="4" class="p-3 text-end">
                                        <p><strong>Order Total: </strong>£{{ total }}</p>
                                        <p class="text-danger"><strong>Offer Discounts: </strong>£{{ discount }}</p>
                                        <p class="text-danger"><strong>Loyalty Discounts: </strong>£0</p>
                                        <h5><strong>Grand Total: </strong>£{{ grand_total }}</h5>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="p-3 text-end">
                                        <a href="{% url 'clear_bag' %}" class="btn btn-secondary">Clear Bag</a>
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'checkout' %}" class="btn btn-primary">Continue to Checkout</a>
                                        {% else %}
                                            <a href="{% url 'account' %}" class="btn btn-primary">Continue to Account</a>
                                        {% endif %}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                    <table class="table d-sm-none">
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Sub Total</th>
                        </tr>
                        {% for item in bag_items %}
                            <tr>
                                <td class="bottom-border-0"><h4>{{ item.product.name }}</h4></td>
                                <td class="bottom-border-0"></td>
                                {% if item.size %}
                                    <td class="bottom-border-0">{{ item.size }}</td>
                                {% else %}
                                    <td class="bottom-border-0"> - </td>
                                {% endif %}
                                <td class="bottom-border-0">{{ item.quantity }}</td>
                                <td class="text-end bottom-border-0">£{{ item.price | calc_subtotal:item.quantity }}</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <a class="btn btn-danger btn-sm remove-item" id="remove_{{ item.product.id }}" data-product_size="{{ item.size }}" data-dough="{{ item.dough }}">Delete</a>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_mobile_{{ item.product.id }}{{ item.size }}">Amend</button>
                                    <div class="modal fade" tabindex="-1" id="modal_mobile_{{ item.product.id }}{{ item.size }}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">{{ item.product.name }}</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'amend_bag' item.product.id %}" method="POST" class="update-form">
                                                        {% csrf_token %}
                                                        {% if item.size %}
                                                            <input type="hidden" name="dough" id="id_dough" value="{{ item.dough }}">
                                                            <input type="hidden" name="original_size" id="id_original_size" value="{{ item.size }}">
                                                            <div>
                                                                <p class="text-start"><strong>Size: </strong></p>
                                                                <div class="w-50">
                                                                    <select class="form-control" name="product_size" id="id_product_size">
                                                                        {% if item.product.is_premium %}
                                                                            {% for price in price_premium %}
                                                                            <option value="{{ price.size }}">{{ price.get_size_display }} - £{{ price.price }}</option>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            {% for price in price %}
                                                                            <option value="{{ price.size }}">{{ price.get_size_display }} - £{{ price.price }}</option>
                                                                            {% endfor %}
                                                                        {% endif %} 
                                                                    </select>
                                                                </div> 
                                                            </div>   
                                                        {% endif %}
                                                        <div>
                                                            <p class="text-start"><strong>Quantity: </strong></p>
                                                            <div class="w-50">
                                                                <input type="number" class="form-control qty-input" value="1" min="1" max="99" name="quantity" data-item-id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                                            </div>        
                                                        </div>
                                                        <button type="submit" class="btn btn-primary update-link">Save changes</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td>
                                    {% if profile.loyalty_points > 4 %}
                                        <div class="text-center">
                                            <p><strong>You have loyalty points available</strong></p>
                                            <h5 class="text-danger">{{ profile.loyalty_points }}</h5>
                                            <button class="btn btn-sm btn-primary">Apply Discount</button>
                                        </div>
                                    {% endif %}
                                </td>
                                <td colspan="4" class="p-3 text-end">
                                    <p><strong>Order Total: </strong>£{{ total }}</p>
                                    <p class="text-danger"><strong>Offer Discounts: </strong>£{{ discount }}</p>
                                    <p class="text-danger"><strong>Loyalty Discounts: </strong>£0</p>
                                    <h5><strong>Grand Total: </strong>£{{ grand_total }}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="p-3 text-end">
                                    <a href="{% url 'clear_bag' %}" class="btn btn-secondary btn-sm">Clear Bag</a>
                                    <a href="{% url 'checkout' %}" class="btn btn-primary btn-sm">Continue to Checkout</a>
                                </td>
                            </tr>
                    </table>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </div>
        {% else %}
            <div class="col text-center">
                <p class="lead m-5">Currently there are no items in your order.</p>
                <p>Check out our Offers and Pizzas!</p>
                <a href="{% url 'offers' %}" class="btn btn-primary">
                    Offers
                </a>
                <a href="{% url 'pizza' %}" class="btn btn-primary">
                    Pizzas
                </a>
            </div>
        {% endif %}
    
    </div>
</main>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        // Update quantity on click
        $('.update-link').click(function(e){
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // Remove item and reload on click
        $('.remove-item').click(function(e){
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('product_size');
            var dough = $(this).data('dough');
            var url = `/bag/remove_item/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size, 'dough': dough };

            $.post(url, data)
                .done(function(){
                    location.reload();
                });
        })
    </script>
{% endblock %}