{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy example_form example_form.helper %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css'%}">
{% endblock %}

{% block content %}
    <div class="overlay-white"></div>
    <main class="container content-container allauth-container">
        <div class="row m-3">
            <div class="col text-center mt-4">
                <h1>Checkout</h1>
            </div>
            {% include 'includes/horizontal-rule-white.html' %}
        </div>
        <!--    Delivery Progress Bar    -->
        <div class="row progress-row delivery">
            <div class="col-10 col-sm-8 col-md-6 col-xl-4 offset-1 offset-sm-2 offset-md-3 offset-xl-4">
                <div class="progress" style="height: 50px;">
                    <div class="progress-bar progress-background-transparent" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="row g-0">  
                            <div class="col-4 progress-bar-border-right">
                                <a class="progress-link progress-active" href="{% url 'view_bag' %}"><h4>Order</h4></a>
                            </div>
                            <div class="col-4 progress-bar-border-right">
                                <a class="progress-link progress-active" href=""><h4>Delivery</h4></a>
                            </div>
                            <div class="col-4">
                                <a class="progress-link" href=""><h4>Payment</h4></a>
                            </div>
                        </div> 
                    </div>
                    <div class="progress-bar progress-overlay" role="progressbar" style="width: 66.6666666666%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100"></div>
                </div>  
            </div>
        </div>
        <!--  Payment Progress Bar  -->
        <div class="row progress-row personal-info d-none">
            <div class="col-10 col-sm-8 col-md-6 col-xl-4 offset-1 offset-sm-2 offset-md-3 offset-xl-4">
                <div class="progress" style="height: 50px;">
                    <div class="progress-bar progress-background-transparent" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <div class="row g-0">  
                            <div class="col-4 progress-bar-border-right">
                                <a class="progress-link progress-active" href="{% url 'view_bag' %}"><h4>Order</h4></a>
                            </div>
                            <div class="col-4 progress-bar-border-right">
                                <a class="progress-link progress-active" href=""><h4>Delivery</h4></a>
                            </div>
                            <div class="col-4">
                                <a class="progress-link progress-active" href=""><h4>Payment</h4></a>
                            </div>
                        </div> 
                    </div>
                    <div class="progress-bar progress-overlay" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>  
            </div>
        </div>
        <div class="col-12 col-lg-8 offset-lg-2">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <div class="delivery">
                        {% if delivery_choice %}
                            <fieldset class="rounded px-3 mt-3 mb-5 fieldset-delivery" >
                                <legend class="fieldset-label text-center text-black px-2 w-auto">Delivery</legend>
                                {{ form.street_address1 | as_crispy_field  }}
                                {{ form.street_address2 | as_crispy_field  }}
                                {{ form.town_or_city | as_crispy_field  }}
                                {{ form.county | as_crispy_field  }}
                                {{ form.postcode | as_crispy_field  }}
                                {{ form.country | as_crispy_field  }}
                                <div class="form-check form-check-inline float-right mr-0">
                                    {% if user.is_authenticated %}
                                        <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                                    {% else %}
                                        <label class="form-check-label" for="id-save-info">
                                            <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                            <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                        </label>
                                    {% endif %}
                                </div>
                            </fieldset>
                        {% else %}
                            <fieldset class="rounded px-3 mt-3 mb-5" >
                                <legend class="fieldset-label text-center text-black px-2 w-auto">Delivery</legend> 
                                <input type="hidden" name="street_address1" value="collection">
                                <input type="hidden" name="street_address2" value="collection">
                                <input type="hidden" name="postcode" value="collection">
                                <input type="hidden" name="town_or_city" value="collection">
                                <input type="hidden" name="county" value="collection">
                                <input type="hidden" name="country" value="GB">
                                <p>You have currently selected Collection.</p>
                            </fieldset>
                        {% endif %}
                        <div class="text-center">
                            {% if delivery_choice %}
                                <button class="btn btn-secondary collection-select">Switch to Collection</button>
                            {% else %}
                                <button class="btn btn-secondary delivery-select">Switch to Delivery</button>
                            {% endif %}
                            <button class="btn btn-primary btn-payment">Continue to Payment</button>
                        </div>
                    </div>    
                    <div class="personal-info d-none">
                        <div class="row m-3">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <h5 class="text-center">Order Summary</h5>
                                    <table class="table">
                                        <tr>
                                            <th>Item</th>
                                            <th>Size</th>
                                            <th>Qty</th>
                                        </tr>
                                    {% for item in bag_items %}
                                        <tr class="small">
                                            <td>{{ item.product.name }}</td>
                                            {% if item.size %}
                                                <td>{{ item.size }}</td>
                                            {% else %}
                                                <td>-</td>
                                            {% endif %}
                                            <td>{{ item.quantity }}</td>
                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td class="float-end"><strong>Total:</strong></td>
                                            <td></td>
                                            <td>£{{ grand_total }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-12 col-md-6">
                                    {% if delivery_choice %}
                                        <h5 class="text-center">Delivery Info</h5>
                                        <table class="table">
                                            <tr>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            <tr class="small">
                                                <td><strong>Address</strong></td>
                                                <td class="street_address1"></td>
                                            </tr>
                                            <tr class="small">
                                                <td></td>
                                                <td class="street_address2"></td>
                                            </tr>
                                            <tr class="small">
                                                <td><strong>Town/City</strong></td>
                                                <td class="town_or_city"></td>
                                            </tr>
                                            <tr class="small">
                                                <td><strong>County</strong></td>
                                                <td class="county"></td>
                                            </tr>
                                            <tr class="small">
                                                <td><strong>Postcode</strong></td>
                                                <td class="postcode"></td>
                                            </tr>
                                        </table>
                                    {% else %}
                                        <h5 class="text-center">Collection</h5>
                                        <p class="text-center">Your order is currently selected for collection</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <fieldset class="rounded px-3 mt-3 mb-5">
                            <legend class="fieldset-label align-center text-black px-2 w-auto">Order Information</legend>
                            {{ form.full_name | as_crispy_field  }}
                            {{ form.email | as_crispy_field  }}
                            {{ form.phone_number | as_crispy_field  }}
                        </fieldset>
                        <fieldset class="px-3">
                            <legend class="fieldset-label text-black px-2 mb-3 w-auto">Payment Details</legend>
                            <!-- Stripe Card element to go here -->
                            <div class="mb-3 form-control" id="card-element"></div>
                            <!-- Used to display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>
                        <div class="submit-button text-center mt-5 mb-2">                    
                            <a href="{% url 'view_bag' %}" class="btn btn-secondary">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="font-weight-bold">Adjust Order</span>
                            </a>
                            <button type="submit" id="submit-button" class="btn btn-primary">
                                <span class="font-weight-bold">Complete Order</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                            <p class="small text-danger my-0">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged <strong>£{{ grand_total|floatformat:2 }}</strong></span>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div id="loading-overlay">
                <h1 class="text-light logo-font loading-spinner">
                    <span class="icon">
                        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                    </span>
                </h1>
            </div>
    </main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key | json_script:"id_stripe_public_key" }}
    {{ client_secret | json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}