{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css'%}">
{% endblock %}

{% block content %}
    <div class="overlay-white"></div>
    <main class="container content-container allauth-container">
        <div class="row m-3">
            <div class="col text-center mt-4">
                <h1 id="title" data-orderid="{{ order.id }}">Pizza Tracker</h1>
            </div>
            {% include 'includes/horizontal-rule-white.html' %}
        </div>
        {% if not order.order_status == 'D' %}
            <div class="row">
                <div class="col-12 col-md-4 text-center" >
                    <h2>Preparing</h2>
                    <div class="tracker-div">
                        <img class="tracker-image" src="https://res.cloudinary.com/hlot2pfsb/image/upload/v1613333300/preparing-pizza_blun3p.jpg" alt="preparing pizza">
                        <div class="inside">
                            <div class="frame d-none" id="preparing-frame">
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center" >
                    <h2>Cooking</h2>
                    <div class="tracker-div">
                        <img class="tracker-image" src="https://res.cloudinary.com/hlot2pfsb/image/upload/v1613333262/cooking-pizza_dabkbq.jpg" alt="preparing pizza">
                        <div class="inside">
                            <div class="frame d-none" id="cooking-frame">
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 text-center">
                    <h2>Delivering</h2>
                    <div class="tracker-div">
                        <img class="tracker-image" src="https://res.cloudinary.com/hlot2pfsb/image/upload/v1613333265/delivery-pizza_kxgzjf.jpg" alt="preparing pizza">
                        <div class="inside">
                            <div class="frame d-none" id="delivering-frame">
                                <div class="clr"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col text-center">
                    <p class="">Order complete, we hope you enjoyed your little Slice of Life.</p>
                    <p>See you again soon!</p>
                </div>
            </div>
            
        {% endif %}
        
    </main>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'checkout/js/pizzatracker.js' %}"></script>
{% endblock %}
