/*      Throughout site        */

body {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.content-container {
    margin-top: 204px;
}

/*      Header        */

.header-height-full {
    height: 164px;
    max-height: 164px;
}

.header-height-half {
    height: 82px;
    max-height: 82px;
}

.nav-link {
    font-size: 1.25rem;
}

.nav-index {
    z-index: 1000;
}

/*      Messages        */

.message-container {
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 99999999999;
}

/*      Index Page        */

.sales {
    background-color: greenyellow;
    margin-top: 164px;
    z-index: 999;
}

/*      Order Button on main page         */

.order-positioning {
    margin-right: 7rem;
    margin-top: 14rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.background-opacity-order {
    opacity: .85;
    background-color: black; 
    border-radius: 25px;
}

#order-div h2 {
    color: white;
}

/*      Footer        */

footer {
    width: 100%;
}


/*      Media Queries        */
@media (max-width:991px) {
    body {
        background: url('/media/hero.jpg') no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 116px);
    }
    .sales {
        margin-top: 116px;
        z-index: 999;
    }
    .content-container {
        margin-top: 156px;
    }
    .desktop-only {
        display: none !important;
    }
    .header-height-full {
        height: 116px;
        max-height: 116px;
    }
    .header-height-half {
        height: 116px;
        max-height: 116px;
    }
    .order-positioning {
        margin-right: 0;
        margin-top: 0;
    }
    #order-div {
        position: relative !important;
        margin-top: 50vh;
        width: 100%;
    }
    #order-div h2,
    .background-opacity-order {
        display: none;
    }
}