/*      Throughout site        */

body {
    background: url('/media/hero.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: calc(100vh - 216px);
}

.overlay-gold,
.overlay-white {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}

.overlay-white {
    background: white;
    opacity: .95;
}

.overlay-gold {
    background: #e8c8a0;
    opacity: .6;
}

.content-container {
    margin-top: 216px;
}

/*      Header        */

.header-height-full {
    height: 164px;
    max-height: 164px;
    background-color: #e8c8a0;
}

.header-height-half {
    height: 82px;
    max-height: 82px;
    background-color: #e8c8a0;
}

.nav-link {
    font-size: 1.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: black;
}

.nav-index {
    z-index: 1000;
    background-color: #e8c8a0;
}

.dropdown-menu{
    background-color: #e8c8a0;
}

.checkout-btn {
    position: relative;
    width: 7rem;
}

.checkout-text {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

.btn .checkout-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
}

/*      Buttons         */

.btn-primary {
    background-color: #086788;
    border-color: #086788;
    color: white;
}

/*      Messages        */

.message-container {
    position: fixed;
    top: 200px;
    right: 15px;
    z-index: 99999999999;
}

/*      Index Page        */

.sales {
    background-color: #3f292b;
    color: white;
    margin-top: 164px;
    z-index: 999;
    font-size: 1.5rem;
}

/*      Order Button on main page         */

.order-positioning {
    margin-right: 7rem;
    margin-top: 14rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 0;
    right: 0;
}

.background-opacity-order {
    opacity: .85;
    background-color: #3f292b; 
    border-radius: 25px;
}

#order-div h2 {
    color: white;
}

/*      Card styling    */

.card {
    border: 0;
}

.card-header,
.card-footer {
    background-color: #3f292b;
    color: white;
}

.card-footer-area {
    height: 55px;
}

.card-footer-position {
    position: absolute;
    bottom: 0px;
    width: 100%;
}


/*      Footer        */

footer {
    width: 100%;
}

.footer-break {
    height: 1rem;
    background-color: #3f292b;
}

.footer-color {
    background-color: #e8c8a0;
    height: 5rem;
    padding-top: 1rem;
}

/*      All Auth        */

.allauth-container {
    min-height: calc(100vh - 342px);
    margin-bottom: 30px;
}

.allauth-container h1 {
    text-align: center;
}

/*      Media Queries        */
@media (max-width:991px) {
    body {
        background: url('/media/hero.jpg') no-repeat center center fixed;
        background-size: cover;
        height: calc(100vh - 168px);
    }
    .sales {
        margin-top: 116px;
        z-index: 999;
    }
    .content-container {
        margin-top: 168px;
    }   
    .allauth-container {
        min-height: calc(100vh - 294px);
        margin-bottom: 30px;
    }
    .desktop-only {
        display: none !important;
    }
    .header-height-full {
        height: 116px;
        max-height: 116px;
    }
    .header-height-half {
        height: 116px;
        max-height: 116px;
    }
    .order-positioning {
        margin-right: 0;
        margin-top: 0;
    }
    #order-div {
        position: relative !important;
        margin-top: 50vh;
        width: 100%;
    }
    #order-div h2,
    .background-opacity-order {
        display: none;
    }
    .checkout-text {
    margin-top: .25rem;
    margin-bottom: .25rem;
    font-size: 1rem;
    }
    .nav-link {
        font-size: 1rem;
    }
}

@media (max-width:370px) {
    .nav-link {
        font-size: .9rem;
    }
    .navbar-toggler {
        font-size: 1rem;
    }
}