/*   Product cards    */
.pizza-card {
    height: 100%;
}

.pizza-image {
    max-height: 100px;
}

.decrement-qty,
.increment-qty {
    background-color: #086788;
    color: white;
}

/* add product CSS */

table .beige {
    background-color: #e8c8a0;
}

/*   Media Queries    */
@media (max-width:576px){
   .form-group.w-75 {
        width: 100% !important;
    }
    
}

@media (max-width:370px){
   .form-control {
        font-size: .9rem;
    }
    
}
