<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'offers' %}" id="offers-link">
                Offers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pizza' %}" id="pizza-link">
                Pizzas
            </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="{% url 'sides' %}" id="sides-link">
                Sides & Drinks
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="account-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="account-link">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'profile' %}" class="dropdown-item">Your Account</a></li>
                    {% if request.user.is_staff %}
                    <li><a href="{% url 'ordertracker' %}" class="dropdown-item ">Order Tracker</a></li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li><a href="{% url 'product_management' %}" class="dropdown-item ">Product Management</a></li>
                    {% endif %}
                    <li><a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a></li>
                {% else %}
                    <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                    <li><a href="{% url 'account_login' %}" class="dropdown-item">Sign In</a></li>
                {% endif %}
            </ul>
        </li>
       
    </ul>
</div>