<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" id="offers-link">
                Offers
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="pizza-link">
                Pizza
            </a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="#" id="sides-link">
                Sides & Drinks
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="account-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="account-link">
                <li><a href="#" class="dropdown-item">Your Account</a></li>
                <li><a href="#" class="dropdown-item ">Order Tracker</a></li>
                <li><a href="#" class="dropdown-item ">Product Management</a></li>
                <li><a href="#" class="dropdown-item">Sign In</a></li>
            </ul>
        </li>
       
    </ul>
</div>