{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1>{% trans "Change Password" %}</h1>

    <div class="row">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% for field in form %}
            {% if field.field.widget.input_type == 'checkbox' %}
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-check-input  mt-3">
            <label class="form-check-label mt-3" for="{{ field.auto_id }}"><strong>{{ field.label }}</strong></label>
            {% else %}
            <label class="form-label mt-3" for="{{ field.auto_id }}"><strong>{{ field.label }}</strong></label>
            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control">
            {% endif %}
        {% endfor %}
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                <a class="btn btn-secondary float-end" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </div>
            
        </div>
        
    </form>
    </div>
    
{% endblock %}
